* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    scroll-behavior: smooth;
}

header::before {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/bg.jpg) no-repeat center center/cover;
    content: "";
    position: absolute;
    /* width: 100vw; */
    width: 98.7vw;
    height: 38rem;
    z-index: -1;
}

.navbar {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100vw;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, .4);
    animation: NavAnimation 2s ease;
}

nav {
    top: 0;
    position: fixed;
}

@keyframes NavAnimation {
    0% {
        top: -80px;
    }

    100% {
        top: 0px;
    }
}



.logo {
    font-size: 2.8rem;
    padding: 14px 20px;
    cursor: pointer;
}

.logo span {
    color: #00c0ff;
}

.navbar .menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li {
    list-style: none;
    padding: 0px 10px;
}

.navbar .menu ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

a:hover{
    /* background-color: #00c0ff; */
    /* background: linear-gradient( #00c0ff, #1d434d); */
    background: linear-gradient(#00c0ff, #909ea1);
    padding: 8px;
    border-radius: 5px;
    transition: all 0.5s ease; 
} 

.Active-menu{
    /* background-color: #00c0ff; */
    /* background: linear-gradient( #00c0ff, #1d434d); */
    background: linear-gradient(#00c0ff, #909ea1);
    padding: 8px;
    border-radius: 5px;
    /* position: relative; */
  

}



.login {
    display: flex;
    align-items: center;
    padding-right: 40px;
}

.login i {
    padding: 20px;
    cursor: pointer;
    font-size: 30px;
}

.btn {
    font-size: 1.5rem;
    border: none;
    background: linear-gradient(#00c0ff, #909ea1);
    padding: 8px;
    border-radius: 5px;
}

.login a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.menu-icon {
    display: none;
}

.big-logo {
    font-size: 5rem;
    color: white;

}

@keyframes CantenarAnimation {
    0% {
        left: 100%;
    }

    100% {
        /* transition: all 2s ease; */
        left: 0;
    }
}

.cantenar {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* position: relative; */
    /* margin-top: 200px; */
    padding: 10rem;
    position: relative;
    z-index: -1;
    animation: CantenarAnimation 3s ease;


}

.text {
    color: white;
    font-size: 3rem;
/* width: 100%; */
display: flex;
justify-content: center;
}


.change-text:after {
    content: '';
    animation: changetext 5s infinite linear;
    color: #00c0ff;
    font-size: 4rem;
    display: flex;
    justify-content: center;
}

@keyframes changetext {
    0% {
        content: 'Nature';
    }

    50% {
        content: 'Animal';
    }

    100% {
        content: 'Car';
    }

}


.filter-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    /* margin: 10rem; */
}

.filter-menu ul li {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
    margin: .5rem;
    font-weight: bold;

}

.filter-menu ul li:hover {

    background: linear-gradient(#00c0ff, #909ea1);
    padding: 8px;
    border-radius: 5px;
    transition: all 0.5s ease;

}
.Active-Filter{
    /* background-color: #00c0ff; */
    /* background: linear-gradient( #00c0ff, #1d434d); */
    background: linear-gradient(#00c0ff, #909ea1);
    padding: 8px;
    border-radius: 5px;
    /* position: relative; */
  

}
.cantaner {
    width: 100vw;
    height: 100vh;

}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    font-size: 2rem;
    padding: .2rem;
    border: 2px solid black;
    font-weight: bold;

}

.search .btn {
    border-radius: 0px;
    /* padding: .rem; */
    border: 1px solid black;
    font-weight: bold;

}
.search .btn:active{
    
    font-size: 1.7rem;
}
.img-cantaner {
    padding: 80px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}


.img-cantaner .images img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.icons {
    justify-content: center;
    align-items: center;
    display: flex;

}

.icon img {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}

.info h1 {
    font-size: 4rem;
}

.info h1 span {
    color: #00c0ff;
}

.info p {
    font-size: 1.2rem;


}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #dedddd;
    padding: 1rem;
    flex-wrap: wrap;

}

footer h3 {
    font-size: 1.7rem;
}

footer .links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    border: 1px solid black;
    margin: 1rem;


}

footer .links ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

footer .links ul {
    padding: 1.5rem;
}

footer .links ul li {
    padding: 1rem;
}


footer .newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    border: 1px solid black;
    margin: 1rem;

}

footer .newsletter input {
    margin: 1.5rem;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    outline: none;
}

footer .newsletter .btn {
    background: white;
    font-size: 1.3rem;
    border-radius: 15px;
    cursor: pointer;
}

footer .newsletter .btn:hover {
    background: linear-gradient(#00c0ff, #909ea1);
}

footer .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    border: 1px solid black;

    margin: 1rem;
}

footer .contact h3 {
    padding: 1.5rem;
}

footer .contact i {
    /* padding: 1rem; */
    margin: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

footer .contact i:hover {
    /* color: #00c0ff; */
    background: linear-gradient(#00c0ff, #909ea1);


}


.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
    background: none;
    z-index: -1;

}

.reveal.active {
    transform: translateY(5px);
    opacity: 1;
}










@media (max-width:900px) {

    html {
        font-size: 80%;
    }

    header::before {

        width: 100vw;
    }

    .navbar .menu {
        display: none;
        position: absolute;
        background: #00c0ff;
        height: 40vh;
        width: 40vw;
        top: 100%;
        left: 55%;
    box-shadow: -10px 50px 50px rgba(0, 0, 0, .8);
        animation: NavBar 2s ease;

    }

    @keyframes NavBar {
        0% {
            left: 100%;
        }

        100% {
            left: 55%;
        }
    }

    .menu ul {
        flex-direction: column;
    }

    .menu ul li {

        padding: 3rem;

    }

    .navbar .menu ul li a:hover {
        background: white;
    }
    
    .res-active {
        
        
        background: white;

    }


    .menu-icon {
        display: block;
    }

    .menu-icon {
        padding-right: 40px;
    }

    .login {
        position: relative;
        right: 50px;
    }

    .img-cantaner {
        grid-template-columns: auto auto;


    }


    footer {
        display: grid;
        grid-template-columns: auto; 
    }

}

@media (max-width:600px) {

    html {
        font-size: 60%;
    }

    .login {
        position: relative;
        right: 20px;
    }

    .cantenar {
        padding-top: 17rem;
    }

    .img-cantaner {
        grid-template-columns: auto;
    }

    .search input {
        padding: .4rem;
    }

    .info p {
        overflow: hidden;
    }
}


@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .menu-icon {
        padding-right: 0px;
    }

    .login i {
        padding: 10px;
        font-size: 25px;
    }
}
